body {
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #EBEBEB;
}
.wrapper {
	min-height: 100%;
	position: relative;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	padding: 10px;
	background: rgba(35, 184, 233, 1);
}

@import url(http://fonts.googleapis.com/css?family=Oswald);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border: 3px solid #1b75bb;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  background: #f7f7f7;
  box-shadow: 1px 1px 0 #1b75bb, 2px 2px 0 #1b75bb, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#cssmenu > ul {
  background: url('images/bg.png');
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b75bb;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #444444;
}
#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #1b75bb;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1b75bb;
  background: url('images/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #1b75bb;
  border-bottom: 2px solid #1b75bb;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #1b75bb;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	margin-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
	min-height: 100%;
	position: relative;
}
.blockleft {
	border: 1;
    float: left;
    width: 40%;
	font-size: 125%;
	text-align: center;
}
.blockright {
    width: 45%;
    float: right;
}
.productsbutton {
  margin-left: 0 !important;
  display: block;
  width: 250px;
  color: #fff;
  margin: 15px 0 0 50px;
   
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font: 500 16px/40px Helvetica, Verdana, sans-serif;
   
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
   
  /*Gradient*/
  background: #9dcc55; /* Old browsers */
  background: -moz-linear-gradient(top,  #1b76bb 0%, #8AA8C2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b76bb), color-stop(100%,#8AA8C2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* IE10+ */
  background: linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b76bb', endColorstr='#8AA8C2',GradientType=0 ); /* IE6-9 */
}
.productsbutton:hover {
  background: #b2e560; /* Old browsers */
  background: -moz-linear-gradient(top,  #2E87CB 0%, #ABD8FF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2E87CB), color-stop(100%,#ABD8FF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* IE10+ */
  background: linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E87CB', endColorstr='#ABD8FF',GradientType=0 ); /* IE6-9 */
}
.pricingtable {
  width: 250px; height: 450px;
  background: #fff;
  margin: 50px;
   
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
     -moz-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
          box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
}
.top {
  width: 250px; height: 50px;
  background: #2F2E35;
  margin-top: -30px;
  -webkit-border-radius: 10px 10px 0 0;
     -moz-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
}
.top h2 {
  color: #fff;
  text-align: center;
  font: 300 30px/50px Helvetica, Verdana, sans-serif;
}
.pricingtable ul {
  list-style-type: none;
  font: 300 18px/2 Helvetica, Verdana, sans-serif;
}
.pricingtable ul strong {
  font-weight: bold;
}
.pricingtable hr {
  border: 0;
  background-color: #BCBEC0;
  color: #BCBEC0;
  height: 1px;
  width: 190px;
  margin: 20px 0 0 30px;
}
.pricingtable h1 {
  text-align: center;
  font: bold 88px/1 Helvetica, Verdana, sans-serif;
  margin: 20px 0 0 0;
}
.pricingtable h1 sup {
  font-size: 45px;
}
.pricingtable p {
  text-align: center;
  font: 500 14px/1 Helvetica, Verdana, sans-serif;
  color: #BCBEC0;
}
.pricingtable a {
  display: block;
  height: 40px;
  width: 150px;
  color: #fff;
  margin: 25px 0 0 50px;
   
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font: 500 16px/40px Helvetica, Verdana, sans-serif;
   
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
   
  /*Gradient*/
  background: #9dcc55; /* Old browsers */
  background: -moz-linear-gradient(top,  #1b76bb 0%, #8AA8C2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b76bb), color-stop(100%,#8AA8C2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* IE10+ */
  background: linear-gradient(top,  #1b76bb 0%,#8AA8C2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b76bb', endColorstr='#8AA8C2',GradientType=0 ); /* IE6-9 */
}
.pricingtable a:hover {
  background: #b2e560; /* Old browsers */
  background: -moz-linear-gradient(top,  #2E87CB 0%, #ABD8FF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2E87CB), color-stop(100%,#ABD8FF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* IE10+ */
  background: linear-gradient(top,  #2E87CB 0%,#ABD8FF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E87CB', endColorstr='#ABD8FF',GradientType=0 ); /* IE6-9 */
}
#container {
    width: 780px;
    margin: 90px auto;
}
 
.pricingtable {
  margin-bottom: 20% !important;
  width: 250px; height: 450px;
  background: white;
  margin: 5px;
  float: left;
  margin-bottom: 100px;
   
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
     -moz-box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
          box-shadow: 2px 2px 9px rgba(0,0,0,0.3);
}
.featured {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

/* Footer
-----------------------------------------------------------------------------*/
.footertekst {
	margin-left: 10px;
	margin-top: 3px;
	font-style: italic;
	font-size: 75%;
	text-align: left !important;
}
.footer {
	background: rgba(170, 170, 170, 0.69);
	width: 100%;
	height: 25px;
	position: fixed;
	bottom: 0;
}





.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }